/node_modules/
/var
/web/bundles/
/bin/symfony_requirements
/web/js/
/web/css/
/web/templates/
/web/index.html
/web/uploads/
/web/sitemap*.xml
/web/app/
/web/lib/
/web/styles/
/web/maps/
/web/assetic/*[0-9]*
/web/app-config.js
/app/config/parameters*.yml
/vendor/
/build/
/composer.lock
.vagrant
/*.log
.docker/*.tar
.idea/
tmp/
/typings/
bower_components/
